/*Universal Styles*/

html{
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
}

/*Header Begins*/

header {
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  z-index: 5;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 2.5rem;
  width: auto;
  margin-left: 1.5rem;
}

.logo.text{
  font-size: 1.5rem;
  color: #4d4d4d;
  font-weight: bold;
}

.logo.text.two{
  color: #b3b3b3;
  font-weight: normal;
}

nav{
  margin-right: 0.5rem;
}

nav li{
  display: inline;
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: #404040;
}

.header-icons{
  display: none;
}

@media only screen and (max-width: 700px){
  nav li a{
    display: none;
  }

  .header-icons{
    display: flex;
    align-items: center;
  }

  .header-icons i{
    width: 5rem;
  }
}

@media only screen and (max-width: 550px){
  .logo.text{
    display: none;
  }

  .header-icons i{
    width: 6rem;
  }
}

/*Main Banner Begins*/

.banner {
  display: flex;
  padding-top: 4rem;
  background-color: #ccc;
  width: 100%;
}

.banner img{
  width: 90%;
  height: auto;
  margin: 2rem 1.5rem;
}

.banner-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4d4d4d;
  width: 60%;
  margin-right: 4rem;
  line-height: 1.3;
}

.banner-text h1{
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.banner-text h3{
  font-size: 1.5rem;
  font-weight: bold;

}

.banner-text button{
  background-color: #4d4d4d;
  color: white;
  font-size: 1rem;
  border: none;
  margin-top: 2rem;
  padding: 0.8rem 0;
  width: 15rem;
}

@media only screen and (max-width: 1100px){
  .banner-text h1{
    font-size: 2rem;
  }

  .banner-text h3{
    font-size: 1.25rem;
  }

  .banner-text button{
    width: 13rem;
  }
}

@media only screen and (max-width: 870px){
  .banner-text h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .banner-text h3{
    font-size: 0.9rem;
  }

  .banner-text button{
    width: 11rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 650px){
  .banner{
    flex-direction: column;
  }

  .banner img{
    width: 100%;
    margin: 0 0;
  }

  .banner-text {
    padding-bottom: 0.75rem;
    margin:0 0;
    width: 100%;
  }

  .banner-text h1{
    font-size: 2.5rem;
    margin: 1.5rem 1rem;
  }

  .banner-text h3{
    font-size: 1.5rem;
    margin: 0.75rem 1rem;
  }

  .banner-text button{
    width: 18rem;
    margin: 1rem 1rem;
  }
}

/*Information Section begins*/

.info-container{
  display: flex;
  background-color: #f2f2f2;
}

.article{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 1.5rem 2rem 1.5rem;
}

.article img{
  width: 100%;
  margin: 2rem 0;
}

.article-text{
  color: #404040;
}

.article-text h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.article-text p{
  color: #666;
  margin-bottom: 1.5rem;
}

.article-text h6{
  font-size: 0.65rem;
  font-weight: bold;
}




.school-info{
  width: 40%;
}

.info-sub{
  display: flex;
  padding: 1rem 1rem;
  border: 0.5px solid #ccc;
}

.info-sub-img{
  width: 35%;
  height: auto;
}

.info-sub-img img{
  width: 100%;
  height: auto;
}

.info-sub-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  padding: 0 1rem;
  color: #4d4d4d;
}

.info-sub-text h2{
  font-size: 1.5rem;
  font-weight: bold;
}

.info-sub-text h4{
  padding: 0.75rem 0;
}

.info-sub-text a{
  text-decoration: none;
  color: #09f;
}

.info-sub.lecture {
  background-color: #ccc;
}


@media only screen and (max-width: 700px){
  .article{
    display: none;
  }

  .school-info{
    width: 100%;
  }

  .info-sub.lecture {
    background-color: #f2f2f2;
  }
}

/*Courses Begin*/

.learning-section{
  background-color: #ccc;
  width: 100%;
}

.course-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-header h1{
  font-size: 2.5rem;
  font-weight: bold;
  color: #4d4d4d;
  margin-top: 2rem;
}

.courses{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.course{
  margin: 2rem 2rem;
  background-color: white;
  width: 25%;
}

.course-image img{
  width: 100%;
  height: auto;
}

.course-text{
  height: 7rem;
  padding: 1rem 1rem;
}

.course-text h2{
  color: #404040;
  font-weight:bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.course-text h4{
  color: #666;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.mobile-courses{
  display: none;
}

@media only screen and (max-width: 800px){
  .course{
    width: 35%;
  }
}

@media only screen and (max-width: 570px){
  .course-header{
    margin-bottom: 0.75rem;
  }

  .courses{
    display: none;
  }

  .learning-section{
    background-color: #f2f2f2;
  }

  .mobile-courses{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-courses button{
    background-color: #ccc;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    margin-top: 0.5rem;
    padding: 0.8rem 0;
    width: 95%;
  }
}


/*Thesis Exhibit Begins*/

.thesis-container{
  background-color: #f2f2f2;
}

.thesis-exhibit{
  display: flex;
  justify-content: center;
  align-items: center;
}

.thesis-exhibit h1{
  color: #404040;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2rem;
}

.thesis-section{
  display: flex;
  width: 100%;
  padding: 2rem 0;
}

.thesis-video{
  width: 55%;
  padding: 0 1.5rem;
}

.thesis-video video{
  width: 100%;
  height: auto;
}

.thesis-video-text h2{
  margin-top: 1.5rem;
  color: #404040;
  font-size: 1.5rem;
  font-weight: bold;
}

.thesis-video-text h4{
  color: #666;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.thesis-subs{
  width: 35%;
}

.thesis-sub{
  display: flex;
  width: 100%;
  padding: 1rem 1rem;
}

.thesis-sub.one{
  background-color: #ccc;
}

.thesis-sub-img{
  width: 35%;
}

.thesis-sub-img img{
  width: 100%;
  height: auto;
}

.thesis-sub-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 1rem;
}

.thesis-sub-text h2{
  color: #404040;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.thesis-sub-text h4{
  color: #666;
}


@media only screen and (max-width:700px){
  .thesis-subs{
    display: none;
  }

  .thesis-video{
    width: 100%;
    padding: 0;
  }

  .thesis-video-text{
    display: none;
  }
}

/*Footer Begins*/

footer{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 4rem;
  color: #666;
}

footer a{
  color: #666;
  text-decoration: none;
  padding: 0 0.5rem;
}

@media only screen and (max-width: 525px){
  .footer-links{
    display: none;
  }
}
